body{
    background-color: blue;
}

.principal{
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    padding: 1em;
}

#resultado{
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    background-color: #ebeaea;
    height: 50px;
}

.calculadora{
    margin: auto;
}

.botao{
    cursor: pointer;
    width: 50px;
    height: 50px;
    vertical-align: top;
    margin: 2px;
    text-transform: uppercase;
}

.igual{
    height: 104px;
}

.zero{
    width: 104px;
}
